
div.wrapper
{
width:100%;
height:830px;
border: 1px solid gray; 
border-radius:30px;

}

div.topbar
{
width:100%;
height:5%;
border-bottom:0px solid gray;
margin-left:2px;
border-radius:30px;
 position:absolute;
 top:0px;
}

div.leftbar
{
width:17%;
height:95%;
float:left;
background-color:gainsboro;
border-radius:30px;
margin-left:100px;
text-align:center;
}

div.maincontainer
{
width:85%;
height:830px;
margin: 0 auto;
border: 0px solid gray;
border-radius:30px;
}

div.footer
{
width:50%;
height:2%;
border-top: 1px solid gray;
border-radius:100px;
margin:0 auto;
}
h5
{
color:black;
text-align:center;
font-family:"Courier";
}


